<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
<link href="styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="block_logo"> <a href="/products"><img src="images/Coin8_logo1.jpg" width="730" height="194" border="0"></a> </div>

  <div class="block_holder1">
    <div class="profile_user"> <a href="/userprofile"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user">[[${userInit}]]</div> </a> </div>
  </div>

    <div id="content_container">
    <!--  <form th:action="@{/order}" method="post"> -->
        <form th:action="@{/order}" method="post">
          <div class="itemAdded" th:each="coin: ${coins}">

            <div class="table">
               <div class="column">
                   <div class="cart_item"> <img th:src="@{'data: product/jpeg; base64, '+${coin.product.getImageDataBase64()}}" width="53" height="53" border="0">
                   </div>
                   <div class="cart_text">  [[ ${coin.product.name} ]] </div>
                   <div class="cart_text"> Цена: [[ ${coin.product.price} ]] </div>
                   <div class="cart_text">  Количество: [[ ${coin.quantity} ]] <input type="number" id="qty_input2" th:name="quantity" th:value="${coin.quantity}"> </div>
                   <div class="cart_text">
                     <div class="cart_drop_button" th:onclick="|deleteItem(${coin.id})|"> <img src="images/cross1.png" width="23" height="23" border="0"> </div>
                  </div>
               </div>
            </div>

           </div>
          <input type="submit" value="Оформить заказ">
        </form>

      </div>

      <!-- <tr id="product" th:each="p: ${products}">  (quantity=${quantity})  th:field="*{quantity}"
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
    </table> -->
    <!-- <h2>Add a product</h2>
        <form action="/products" method="post">
            Name: <input type="text" name="name"><br />
            Price: <input type="number" step="any" name="price"><br />
            <button type="submit">Add product</button>
        </form>
    -->

  </div>
</div>

<!-- В шаблонизаторе Thymeleaf джава скрипт подключается особым образом. См. ниже  -->
<script th:src="@{/js/script.js}"></script>

</body>
</html>
