<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
<link href="styles/style.css" th:href="@{/styles/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="header">
    <div class="block_logo"> <a href="/products"> <img src="images/Coin8_logo1.jpg" width="730" height="194" border="0"> </a> </div>
    <div class="block_holder1">
      <div class="profile"> <a href="/login.html"> <img src="images/profile.png" width="33" height="33" border="0"> </a> </div>
      <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                          <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
    </div>
  </div>

  <div class="cart_text"> Ваш заказ номер [[ ${orderId} ]] принят в работу! </div>
  <div class="cart_text"> <a href="/products"> Вернуться к покупкам </a> </div>
</div>

<!-- В шаблонизаторе Thymeleaf джава скрипт подключается особым образом. См. ниже  -->
<script th:src="@{/js/script.js}"></script>

</body>

</html>
