<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Клуб нумизматов</h1>
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="block_holder1">
    <div class="profile_user"> <a href="/orders"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user">[[${userInit}]]</div> </a> </div>
    <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                        <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
  </div>

  <div> <h2>Состав заказа №[[ ${order.id} ]]</h2> </div>

    <div id="content_container">
          <div class="itemAdded" th:each="coin: ${coins}">

            <div class="table">
               <div class="column">
                   <div class="cart_item"> <img th:src="@{'data: product/jpeg; base64, '+${coin.product.getImageDataBase64()}}" width="53" height="53" border="0">
                   </div>
                   <div class="cart_text">  [[ ${coin.product.name} ]] </div>
                   <div class="cart_text"> Цена: [[ ${coin.product.price} ]] </div>
                   <div class="cart_text">  Количество: [[ ${coin.quantity} ]] </div>
               </div>
            </div>

           </div>
      </div>

      <!-- <tr id="product" th:each="p: ${products}">  (quantity=${quantity})  th:field="*{quantity}"
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
    </table> -->
    <!-- <h2>Add a product</h2>
        <form action="/products" method="post">
            Name: <input type="text" name="name"><br />
            Price: <input type="number" step="any" name="price"><br />
            <button type="submit">Add product</button>
        </form>
    -->

  </div>
</div>

<script src="script.js"></script>

</body>
</html>
