<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
    <link href="style.css" rel="stylesheet" type="text/css">
    <script src="jquery-3.7.1.min.js" ></script> <!-- подколючение библиотеки jQuery -->
</head>
<body>
<h1>Клуб нумизматов</h1>
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">
    <div class="block_logo"> </div>
    <div class="block_holder1">
      <div class="profile_user"> <a href="/orders"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user">[[${userInit}]]</div> </a> </div>
      <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                          <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
    </div>

    <!--
    <img th:if="${td.status != 'SUBMITTED'}" class="myImage" th:src="@{/assets/images/offbulb.png}" style="width:15px; height:10px;"/>
    <img th:if="${td.status == 'SUBMITTED'}" class="myImage" th:src="@{/assets/images/redbulb.png}" style="width: 15px; height:10px;"/>
    <span th:text="${td.status}" />
    -->

    <div id="content_container">

      <div class="item_card" th:each="product: ${products}">
          <div class="item_name"> [[ ${product.name} ]] </div>  <!-- другой вариант этой записи <tr th:text="${product.name}"></tr> -->
          <!-- <div class="item_image">
            <img src="images/coin1.jpg" width="177" height="172" border="0">
          </div> -->
          <div class="item_image">
            <img th:src="@{'data: product/jpeg; base64, '+${product.getImageDataBase64()}}" width="150" height="137" border="0">
          </div>
          Продаем
          <div class="item_price">
            <table align=center>
                <tr>
                  <td> <span id="price"> [[ ${product.price} ]] </span> </td>
                </tr>
            </table>
          </div>


          <!-- <form th:action="@{/buycoin}" method="post">  [[ ${product.price} ]]
              <input type="number" id="qty_input" th:field="${quantity}" th:name="quantity" value="1" placeholder="Количество"></input>

              <form action="javascript:void(0);" th:onsubmit="|buyCoin(${product.id}, ${product.cartQty})|">
         -->
          <form th:action="@{/buycoin}" method="post">
            <input type="hidden" th:name="id" th:value="${product.id}">
            <!-- <input type="hidden" th:id="'prodId'+${product.id}" th:name="id" th:value="${product.id}"> -->
            <input type="number" id="qty_input1" th:name="quantity" th:value="1" placeholder="Количество"></input>
            <!-- <button type="submit" style="height:27px; width:73px"/>Купить</button> -->
            <button type="submit" style="height:27px; width:73px">Купить</button>
          </form>
          <!--  <button th:onclick="|buyCoin(${product.id}, ${quantity})|" style="height:27px; width:73px"/> -->

      </div>

      <!--
                      <form th:action="@{/buycoin}" method="post">

                      <form th:action="@{'/buycoin'(id=${product.id})}" method="post">
                      <input type="number" th:name="quantity" value="1" placeholder="Количество"></input>
                      <button type="submit" id="buyButton" style="height:27px; width:73px"/>Купить</button>
                  </form > -->
    <!-- <h2>Add a product</h2>
        <form action="/products" method="post">
            Name: <input type="text" name="name"><br />
            Price: <input type="number" step="any" name="price"><br />
            <button type="submit">Add product</button>
        </form>
    -->

  </div>
</div>

<script src="script.js"></script>
</html>
