<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="header">
    <div class="block_logo"> <a href="/products"> <img src="images/Coin8_logo1.jpg" width="730" height="194" border="0"> </a> </div>
    <div class="block_holder1">
      <div class="profile_user"> <a href="/userprofile"> <img src="images/profile1.png" width="33" height="33" border="0"> <div class="auth_user">[[${userInit}]]</div> </a> </div>
      <div class="cart"> <a href="/cart"> <img th:if="${coinsInCart == 0}" src="images/shopping_cart.png" width="53" height="53" border="0">
                                          <img th:if="${coinsInCart > 0}" src="images/shopping_cart1.png" width="53" height="53" border="0"> </a> </div>
    </div>

  <div class="block_holder1"></div>

  <br /><br />
  <div id="regform_holder">
    <div class="regform">
      <form>
        <h2> Личные данные </h2>
        <p><input type="text" placeholder="Ваше имя" id="name" th:value="${name}"></p>
        <p><input type="text" placeholder="Ваш логин" id="login" th:value="${login}"></p>
        <p><input type="number" placeholder="Ваш возраст" id="age" th:value="${age}"></p>
        <!-- <p><input type="password" placeholder="Пароль" id="password"></p> -->
      </form>
      <p><button id="regButton">Сохранить</button></p>
    </div>

  </div>

  <!--
  <div id="block2">
    <textarea id="responseTextArea" placeholder="Response text 1 - For development issues"></textarea>
  </div>
  -->

</div>

<script src="script.js"></script>

</body>
</html>
