<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>Main page</title>
<link href="style.css" rel="stylesheet" type="text/css">
</head>
<body>
<h1>Клуб нумизматов</h1>
<h3></h3>
<!-- Основной контейнер, включающий остальные DIV-->
<div id="container">

  <div class="block_holder1"></div>

    <div id="content_container">
        <div> <h1> Заказы пользователя </h1> </div>

          <div class="itemAdded" th:each="order: ${orders}">
            <div class="table">
               <div class="column">
                   <div class="cart_text"> <a th:href="@{'/orderitems'(order=${order.id})}"> Заказ номер [[ ${order.id} ]] </a> </div>
                   <div class="cart_text"> [[ ${order.timeDate} ]] </div>
                   <div class="cart_text">  Статус: [[ ${order.status} ]] </div>
                   <div class="cart_text">
                  </div>
               </div>
            </div>
           </div>

      </div>

      <!-- <tr id="product" th:each="p: ${products}">  (quantity=${quantity})  th:field="*{quantity}"
            <td th:text="${p.name}"></td>
            <td th:text="${p.price}"></td>
        </tr>
    </table> -->
    <!-- <h2>Add a product</h2>
        <form action="/products" method="post">
            Name: <input type="text" name="name"><br />
            Price: <input type="number" step="any" name="price"><br />
            <button type="submit">Add product</button>
        </form>
    -->

  </div>
</div>

<script src="script.js"></script>

</body>
</html>
